:root {
    --nav-color: #2fc8ce;
    --footer-color: #0f6164;
    --text-color: #606161;
    --text-color-hover: #2b3535;
    --light-color: #faf4ff;
}

* {
    font-family: 'Nunito', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 65px 1fr 50px;
    grid-template-areas: 
        "header"
        "content"
        "footer";
    height: 100vh;
    margin: 0;
    background-color: #DDD;
}

header.header {
    grid-area: header;
    display: flex;
    position: sticky;
    background-color: var(--nav-color);    
    align-items: center;
    z-index: 10;
    box-shadow: 
        0 2px 4px -1px rgba(0, 0, 0, .2),
        0 4px 4px 0px rgba(0, 0, 0, .14),
        0 1px 10px 0px rgba(0, 0, 0, .12);
}

.header .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header .menu .nav-options {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    font-size: 1.4rem;
    margin-right: 10px;
}

.header .home {
    border-right: 2px solid var(--text-color);
    padding: 10px;
}

.header .menu .nav-options:hover{
    color: #160701;
}

div .option {
    text-decoration: none!important;
    color: var(--text-color);
    font-weight: 600;
}

.option:hover {
    color: var(--text-color-hover);
}

main.content {
    grid-area: content;
    background-color: var(--light-color);    
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
}

.content > h2 {
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 600;
}

.content .post-title {
    border: none;
    background-color: #8e70e0;
    color: #dbd2d2;
    border-top: 3px solid var(--text-color);    
    margin-bottom: 20px;
}

.content .post-title > a {
    color: #dbd2d2;
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
}

.content .post-title > a:hover {
    color: var(--text-color-hover);
}

footer.footer {
    grid-area: footer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    background-color: var(--footer-color); 
    color: var(--light-color);
    font-weight: 600;
    position: sticky;
}

.comments > h2 {
    margin: 30px 0;
    border-bottom: 1px solid var(--text-color);
}

.comments .name-comment {
    font-size: 1.2rem;
    font-weight: 700;
}

.comments .message {
    font-size: 1rem;
    font-weight: 500;
    margin: -8px 0 30px 0;
}

h1.about-title, h1.create-title {
    margin: 30px 0;
    border-bottom: 1px solid var(--text-color);
    color: var(--text-color);
    font-size: 2.2rem;
    font-weight: 600;
}

label.label-create-title, label.label-create-post {
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 600;
    margin: 20px 0 -8px 0;
}

input.button {
    margin: 10px 0;
    width: 200px;
    font-size: 1.2rem;
    font-weight: 800;
    color:white;
}

a.icon-option  {
    text-decoration: none!important;
}

i.icon {
    color: var(--text-color);
    font-size: 1.6rem;
}

i.icon:hover {
    color: var(--text-color-hover);
}